.contenido {
    display: flex;
    width: 90vw;
    // background-color: red;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.reverse {
    flex-direction: row-reverse;
}

.contenedor {
    width: 100%;
    height: 70dvh;
    display: flex;

    .info {
        // background-color: green;
        width: 55%;
        // background-color: lime;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 2rem;
    }

    .foto {
        // background-color: yellow;
        display: flex;
        flex: 1;
        width: 45%;

        .imagen {
            border-radius: 1.5rem;
            // background-color: lime;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            
            img {
                width: 100%;
                height: 150%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .contenedor {
        // background-color: red;
        height: 50vw;
    }

    .info {
        // background-color: blue !important;
        padding: 0rem !important;
    }
}