<div class="contenido">
    <div class="contenedor">
        <div class="info">
            <app-text-reveal-simple [text]="'En el corazón del Barrio de Analco, sobre calle Luna 227, hay un espacio hecho para que te relajes, te consientas y salgas como nuevo.'"></app-text-reveal-simple>
        </div>
        <div class="foto">
            <div class="imagen">
                <img src="images/tubo.png" alt="tubo">
            </div>
        </div>
    </div>
    <div class="contenedor reverse">
        <div class="info">
            <app-text-reveal-simple [text]="'Listos para brindar el mejor servicio y la mejor calidad'"></app-text-reveal-simple>
        </div>
        <div class="foto">
            <div class="imagen">
                <img src="images/3.png" alt="tubo">
            </div>
        </div>
    </div>
    <div class="seccion2">
        <div class="todos">
            <div class="comprometidos">
                <div class="contenedorTexto">
                    <p class="hola">comprometidos</p>
                </div>
                <div class="contenedorTexto">
                    <p class="hola bold">con</p>
                </div>
                <div class="contenedorTexto">
                    <p class="hola">todxs</p>
                </div>
            </div>
            <div class="fechas">
                <p class="desde">Desde </p>
                <div class="fecha"><h1>2021</h1></div>
            </div>
        </div>
        <div class="cartas">
            <div class="carta"><img src="images/cortes/1.png" alt=""></div>
            <div class="carta"><img src="images/cortes/2.png" alt=""></div>
            <div class="carta"><img src="images/cortes/3.png" alt=""></div>
            <div class="carta"><img src="images/cortes/4.png" alt=""></div>
            <div class="carta"><img src="images/cortes/5.png" alt=""></div>
            <div class="carta"><img src="images/cortes/6.png" alt=""></div>
            <div class="carta"><img src="images/cortes/7.png" alt=""></div>
            <div class="carta"><img src="images/cortes/8.png" alt=""></div>
            <div class="carta"><img src="images/cortes/9.png" alt=""></div>
        </div>
    </div>
    <div class="seccion3">
        <h1>¿Y tú, ya te diste tu tiempo para ti <span style="font-weight: 900;">esta semana</span>?</h1>
        <div class="barberos">
            <div class="barbero yahir">
                <img class="fotografia" src="barbero/11.png" alt="">
                <div class="foot">
                    <div class="contenedor">
                        <p class="nombre">Yahir</p>
                    </div>
                    <div class="contenedorWhats">
                        <img class="whats" src="barbero/whats.png" alt="">
                    </div>
                </div>
            </div>
            <div class="barbero leo">
                <img class="fotografia" src="barbero/2.jpg" alt="">
                <div class="foot">
                    <div class="contenedor">
                        <p class="nombre">Leo</p>
                    </div>
                    <div class="contenedorWhats">
                        <img class="whats" src="barbero/whats.png" alt="">
                    </div>
                </div>
            </div>
            <div class="barbero erick">
                <img class="fotografia" src="barbero/3.jpg" alt="">
                <div class="foot">
                    <div class="contenedor">
                        <p class="nombre">Erick</p>
                    </div>
                    <div class="contenedorWhats">
                        <img class="whats" src="barbero/whats.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>