<div class="contenido">
    <div class="text-container">
        <div class="hello__div">
            <div class="contenedorTexto">
                <p class="hola">Gracias por</p>
            </div>
            <div class="contenedorTexto">
                <p class="hola bold">
                    la confianza.
                </p>
            </div>
        </div>
    </div>
    <div class="columns" data-scroll-container="">
    <div class="column column-reverse">
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Cyber Blue</span> <span>2011</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/2.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Gnostic Will</span> <span>2012</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>French Kiss</span> <span>2013</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Half Life</span> <span>2014</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Love Boat</span> <span>2015</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Golden Ray</span> <span>2016</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Blame Game</span> <span>2017</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Lone Dust</span> <span>2018</span> </figcaption>
        </figure>
    </div>
    <div class="column">
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Lucky Wood</span> <span>2019</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Good Earth</span> <span>2020</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Empty Words</span> <span>2021</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Nonage Line</span> <span>2009</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Blue Hell</span> <span>2010</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Cold Blood</span> <span>2011</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Tulip Heat</span> <span>2012</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Red Wrath</span> <span>2013</span> </figcaption>
        </figure>
    </div>
    <div class="column column-reverse">
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Bold Human</span> <span>2014</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Loyal Royal</span> <span>2015</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Lone Cone</span> <span>2016</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Dutch Green</span> <span>2017</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Valley Hill</span> <span>2018</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Kale Hale</span> <span>2019</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Fake Cake</span> <span>2020</span> </figcaption>
        </figure>
        <figure class="column__item">
            <div class="column__item-imgwrap">
                <img src="images/1.png" alt="" title="" height="" width="" />
            </div>
            <figcaption class="column__item-caption"> <span>Book Belly</span> <span>2021</span> </figcaption>
        </figure>
    </div>
</div>


</div>