@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Poiret+One&family=Tangerine:wght@400;700&family=Unbounded:wght@200..900&display=swap');

:host {
    display: block;
    width: 100%;
}

.images-container {
    position: relative;
    width: 100%;
    background-color: white;
    color: white;
}

.text-container {
    position: sticky;
    top: 0;
    // background-color: green;
    height: 100vh;
    width: min-content;
    z-index: 2;
    pointer-events: none; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello__div {
    pointer-events: auto; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    // background-color: red;
    padding-left: 3rem;
    // background-color: rgba(255, 255, 255, 0.504);
    // backdrop-filter: blur(10px);

    .contenedorTexto {
        overflow: hidden;


        p {
           font-style: normal;
           flex-wrap: wrap;
           font-size: 4.5vw;
           text-align: left;
           color: rgb(0, 0, 0);
           margin: 0 !important; 
           opacity: 1;
           -webkit-text-stroke-width: 1.5px;
           -webkit-text-stroke-color: black;
           z-index: 1 !important;
           // text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
           font-family: "NeueNormal", sans-serif;
           text-transform: uppercase;
        }

        .bold {
            font-family: "NeueThin", sans-serif !important;
        }
    }
}



.images {
    position: relative;
    padding-top: 40vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 200vh;
    display: grid;
    grid-template-columns: repeat(58, 1.5%);
    grid-template-rows: repeat(90, 1.2%);
    justify-content: center;
    justify-items: center;
    align-items: center;
    z-index: 1;
    margin-top: -120vh; 
}

img {
    // border-radius: 30px;
    width: 100%;
    height: 100%;
    z-index: 2 !important;
    object-fit: cover;
}

img:nth-child(1) {
    grid-area: 1/29/15/42;
}

img:nth-child(2) {
    grid-area: 10/44/25/59;
}

img:nth-child(3) {
    grid-area: 27/34/40/54;
}

img:nth-child(4) {
    grid-area: 42/29/57/42;
}

img:nth-child(5) {
    grid-area: 45/45/53/59;
}

img:nth-child(6) {
    grid-area: 59/36/75/52;
}

@media (max-width: 768px) {
    .images {
        grid-template-columns: repeat(58, 2.4%);
        grid-template-rows: repeat(90, 1.2%);
        min-height: 100vh;
    }

}