@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Poiret+One&family=Tangerine:wght@400;700&family=Unbounded:wght@200..900&display=swap');

:host {
    display: block;
    width: 100%;
}

.images-container {
    position: relative !important;
    width: 100%;
    color: white;
}

.text-container {
    position: sticky;
    top: 0;
    height: 100vh;
    width: min-content;
    z-index: 2;
    pointer-events: none; 
    display: flex;
}

.hello__div {
    pointer-events: auto; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 3rem;

    .contenedorTexto {
        overflow: hidden;

        p {
           font-style: normal;
           flex-wrap: wrap;
           font-size: 4.5vw;
           text-align: left;
           color: rgb(0, 0, 0);
           margin: 0 !important; 
           opacity: 1;
           -webkit-text-stroke-width: 1.5px;
           -webkit-text-stroke-color: black;
           z-index: 1 !important;
           font-family: "NeueNormal", sans-serif;
           text-transform: uppercase;
        }

        .bold {
            font-family: "NeueThin", sans-serif !important;
        }
    }
}

// #wrapper {
//     width: 100%;
//     background-color: white;
// }

.images {
    position: relative;
    padding-top: 40vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 200vh;
    display: grid;
    grid-template-columns: repeat(58, 1.5vw);
    grid-template-rows: repeat(90, 1.2%);
    justify-content: center;
    justify-items: center;
    align-items: center;
    z-index: 1;
    margin-top: -120vh; 
}

img {
    // border-radius: 30px;
    width: 100%;
    height: 100%;
    z-index: 2 !important;
    object-fit: cover;
}

img:nth-child(1) {
    grid-area: 1/29/15/42;
}

img:nth-child(2) {
    grid-area: 10/44/25/59;
}

img:nth-child(3) {
    grid-area: 27/34/40/54;
}

img:nth-child(4) {
    grid-area: 42/29/57/42;
}

img:nth-child(5) {
    grid-area: 45/45/53/59;
}

img:nth-child(6) {
    grid-area: 59/36/75/52;
}

@media (max-width: 768px) {
    .images {
        grid-template-columns: repeat(58, 2.4%);
        grid-template-rows: repeat(90, 1.2%);
        min-height: 180vh;
        margin-top: -20vh; 
        z-index: 99;
        padding-bottom: 10vh;

    }

    .text-container {
        width: 100%;
        height: 70vh !important;
        
        .hello__div {
            padding-left: 0;
            padding-top: 6.5rem;

        .contenedorTexto {
            width: 100%;
    
            p {
               font-size: 10.5vw !important;
               text-align: center;
            }
           }
        }
    }
    
    img:nth-child(1) {
        grid-area: 1/13/15/28;
    }
    
    img:nth-child(2) {
        grid-area: 1/32/15/47;
    }
    
    img:nth-child(3) {
        grid-area: 25/13/40/28;
    }
    
    img:nth-child(4) {
        grid-area: 25/32/40/47;
    }
    
    img:nth-child(5) {
        grid-area: 48/13/63/28;
    }
    
    img:nth-child(6) {
        grid-area: 48/32/63/47;
    }   
}