<div class="images-container">
    <div class="text-container">
        <div class="hello__div">
            <p class="hola">Comprometidos Contigo.</p>
        </div>
    </div>
    <div id="wrapper">
        <section id="content">
            <section class="images">
                <img data-speed="0.8" src="images/1.png" alt="">
                <img data-speed="0.9" src="images/2.png" alt="">
                <img data-speed="1" src="images/3.png" alt="">
                <img data-speed="1.1" src="images/4.png" alt="">
                <img data-speed="0.9" src="images/5.png" alt="">
                <img data-speed="1.2" src="images/6.png" alt="">
            </section>
        </section>
    </div>
</div>