@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");



.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
  opacity: 0.4;
  transform: translatex(40%) scale(.8);
  z-index: 0;
}

.container {
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.cards {
  position: relative;
  width: 100%;
  height: 60dvh;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card.previous {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

// Next card (right side)
.card.next {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

// Active card (center)
.card.active {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

.player {
  min-width: 320px;
  margin: 10px;
  overflow: hidden;
}

.upper-part {
  position: relative;
  height: 75px;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.info-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  transition: transform .4s ease-in;
}

.title {
  color: #ffffff;
  font-size: 45px;
  width: 100%;
  // flex-wrap: nowrap;
  display: flex;
  text-align: center !important;
  // line-height: 94px;
  // font-family: 'NeueThin', sans-serif;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle, .time {
  
  font-size: 16px;
  margin-left: 5px;
  line-height: 16px;
  color: white;
  width: 100%;
}


// Transform classes for info area
.info-area.transform-0 {
  transform: translateY(0);
}

.info-area.transform-1 {
  transform: translateY(-70px);
}

.info-area.transform-2 {
  transform: translateY(-145px);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .cards {
    position: relative;
    width: 100%;
    height: 40dvh;
    margin-bottom: 20px;
  }

  .info-area {
    align-items: center;
  }

  .title, .subtitle {
    text-align: center !important;
  }

  .title {
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-area.transform-0 {
    transform: translateY(0);
  }
  
  .info-area.transform-1 {
    transform: translateY(-60px);
  }
  
  .info-area.transform-2 {
    transform: translateY(-120px);
  }

  .upper-part {
    height: 60px;
  }

  .subtitle, .time {
    margin-left: 0 !important;
  }
}