@font-face {
    font-family: 'KimeraFont';
    src: url('../../../assets/fonts/typogama-ahsing.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }


.cuerpo {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;

    &.scroll {
        overflow-y: auto;
    }

    &::-webkit-scrollbar {
        // width: 8px;
        display: none;
    }

    // &::-webkit-scrollbar-track {
    //     background: #2c2c2c;
    // }

    // &::-webkit-scrollbar-thumb {
    //     background-color: #888;
    //     border-radius: 4px;
    // }
    
    // &::-webkit-scrollbar-thumb:hover {
    //     background: #555;
    // }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: auto;
    padding: .5rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    opacity: 0;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    background-color: white;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    .h1-placeholder {
        font-family: 'KimeraFont';
        font-size: 2.8rem;
        font-weight: normal;
        color: transparent; /* Solo para medir */
        padding: 0.1em;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: none;
    }

    ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        height: min-content;

        li {
            height: auto;
            min-height: initial;
            list-style: none;
            padding-bottom: 0.5em;
            position: relative;
            
            a {
                cursor: pointer;
                position: relative;
                color: black;
            }
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                border-radius: 4px;
                background-color: #18272F;
                bottom: 0;
                left: 0;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform .2s ease-in-out;
              }
              
              &:hover::before {
                transform-origin: left;
                transform: scaleX(1);
              }

        }
    }
}



.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    min-height: 100dvh;
    width: 100dvw;
    background-color: black;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    transition: background-color 0.3s ease;

    .bg-image {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../../assets/images/3.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        z-index: 1;
        pointer-events: none;
        clip-path: inset(100% 100% 100% 100%);
    }

    h1 {
        position: relative;
        z-index: 2;
        font-family: 'KimeraFont';
        font-size: 12vw;
        font-weight: normal;
        padding: 0.1em;
        background-image: linear-gradient(to top, rgb(255, 255, 255) 100%, transparent 0%);
        background-size: 100% 0%;
        background-position: bottom;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.39);
        will-change: filter, transform; /* Añadimos transform a will-change */

        &.moving {
            position: fixed;
            z-index: 1001; /* Por encima del header */
            -webkit-text-fill-color: white; /* Color sólido al moverse */
            top: 0; /* Se establecerá dinámicamente */
            left: 0; /* Se establecerá dinámicamente */
        }
    }

    .h1-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .subtitulo {
        position: relative;
        z-index: 2;
        color: white;
        font-size: 1.5vw;
        font-weight: normal;
        
        transition: opacity .5s ease;
        opacity: 0;

       &.visible {
        opacity: 1;
       }

        p {
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-family: "Onest", sans-serif;
            font-optical-sizing: auto;
            font-weight: 200;
            font-style: normal;
            text-shadow:
            0 0 0.1em white,     
            0 0 0.3em black,
            0 0 0.6em black,
            0 0 1.2em black;
        }
        
    }
    
    .scroll-down-container {
        z-index: 2;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 9em;
        gap: 1em;
        align-items: center;
        color: white;
        opacity: 0;
        transition: opacity 1s ease, transform 1s ease;
        
        .scroll-down {
            background-color: transparent;
            width: min-content;
            aspect-ratio: 1/1;
            border-radius: 50%;
            border: 1px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em !important;
        }
        
        &.visible {
            transform: translateY(40px);
            opacity: .8;
        }
    }


    &[data-state='loading'] h1 {
        animation: progress-bar 5s linear forwards;
    }

    &[data-state='loaded'] {
        .bg-image {
            opacity: 1;
        }

        h1 {
            background-size: 100% 100%;
            transition: filter 1s ease;
            filter: drop-shadow(0.05em 0.025em 0.04em rgba(0, 0, 0, 0.8));
        }
    }
}

.secciones {
    display: flex;
    flex-direction: column;
    position: relative;

    .seccion {
        min-height: 100dvh;
        position: relative;
        // padding-top: 6.5rem;
        display: flex;
        display: flex;
        background-color: white;
    }
}



@keyframes progress-bar {
    0% {
        background-size: 100% 0%;
    }
    30% {
        background-size: 100% 40%;
    }
    60% {
        background-size: 100% 55%;
    }
    80% {
        background-size: 100% 55%;
    }
    100% {
        background-size: 100% 100%;
    }
}

@keyframes square-in-center {
    from {
      clip-path: inset(100% 100% 100% 100%);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:square:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-center both;
  }

:host(.no-animation) {
  .inicio[data-state='loaded'] {
      h1 {
          animation: none;
          background-size: 100% 100%;
          filter: drop-shadow(0.05em 0.025em 0.04em rgba(0, 0, 0, 0.8));
      }

      .bg-image {
          animation: none;
          clip-path: inset(0 0 0 0);
          opacity: 1;
      }
  }
}