@font-face {
    font-family: 'KimeraFont';
    src: url('../../../assets/fonts/typogama-ahsing.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }


.cuerpo {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;

    &.scroll {
        overflow-y: auto;
    }

    &::-webkit-scrollbar {
        // width: 8px;
        display: none;
    }

    // &::-webkit-scrollbar-track {
    //     background: #2c2c2c;
    // }

    // &::-webkit-scrollbar-thumb {
    //     background-color: #888;
    //     border-radius: 4px;
    // }
    
    // &::-webkit-scrollbar-thumb:hover {
    //     background: #555;
    // }
}


.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    min-height: 100dvh;
    width: 100dvw;
    background-color: #006241;
    position: relative;
    overflow: hidden;
    flex-direction: column;

    .bg-image {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../../assets/images/fondo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        z-index: 1;
        pointer-events: none;
        clip-path: inset(100% 100% 100% 100%);
    }

    h1 {
        position: relative;
        z-index: 2;
        font-family: 'KimeraFont';
        font-size: 12vw;
        font-weight: normal;
        padding: 0.1em;
        background-image: linear-gradient(to top, white 100%, transparent 0%);
        background-size: 100% 0%;
        background-position: bottom;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.39);
        transition: filter 0.8s ease-in-out;
        will-change: filter;
    }

    .subtitulo {
        position: relative;
        z-index: 2;
        color: white;
        font-size: 1.5vw;
        font-weight: normal;
        
        transition: all .5s ease;
        opacity: 0;

       &.visible {
        opacity: 1;
       }

        p {
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-family: "Onest", sans-serif;
            font-optical-sizing: auto;
            font-weight: 200;
            font-style: normal;
            text-shadow:
  0 0 0.1em white,     // brillo sutil
  0 0 0.3em black,
  0 0 0.6em black,
  0 0 1.2em black;
        }
        
    }

    &[data-state='loading'] h1 {
        animation: progress-bar 5s linear forwards;
    }

    &[data-state='loaded'] {
        .bg-image {
            opacity: 1;
        }

        h1 {
            background-size: 100% 100%;
            filter: drop-shadow(0.05em 0.025em 0.04em rgba(0, 0, 0, 0.8));
        }
    }
}

.seccion {
    height: 100dvh;
    min-height: 100dvh;
    display: flex;
}



@keyframes progress-bar {
    0% {
        background-size: 100% 0%;
    }
    30% {
        background-size: 100% 40%;
    }
    60% {
        background-size: 100% 55%;
    }
    80% {
        background-size: 100% 55%;
    }
    100% {
        background-size: 100% 100%;
    }
}

@keyframes square-in-center {
    from {
      clip-path: inset(100% 100% 100% 100%);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:square:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-center both;
  }