<div class="cuerpo" #cuerpo>
    <header #header>
        <div class="h1-placeholder" #h1Placeholder>KIMERA</div>
        <ul>
            <li><a (click)="scrollTo('#barber')">barber</a></li>
            <li><a (click)="scrollTo('#tattoo')">tattoo</a></li>
            <li><a (click)="scrollTo('#productos')">productos</a></li>
            <li><a (click)="scrollTo('#ubicacion')">ubicación</a></li>
        </ul>
    </header>
    <div class="inicio" #inicio [attr.data-state]="animationState">
        <div
          class="bg-image"
          [attr.transition-style]="animationState === 'loaded' ? 'in:square:center' : null">
        </div>
        <div class="h1-wrapper" #h1Wrapper>
          <h1 #h1>KIMERA</h1>
        </div>
        <div class="subtitulo" #subtitulo>
            <p>barber and tattoo studio</p>
        </div>
        <div class="scroll-down-container" #scrollDownContainer>
            <div class="scroll-down">
                <span class="material-symbols-outlined">arrow_cool_down</span>
            </div>
            <p>Scroll down</p>
        </div>
    </div>
    <div class="secciones">
        <div id="barber" class="seccion">
            <app-barber />
        </div>
        <div id="tattoo" class="seccion">
            <app-tattoo />
        </div>
        <div id="productos" class="seccion">
            <app-productos />
        </div>
        <div id="ubicacion" class="seccion">
            <app-ubicacion />
        </div>
    </div>
</div>